/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/10/2016, 10:53:28 AM
    Author     : Neal
*/


/*
Z-INDEXES

    top_Bar - z-index: 15;
    audio_bar - z-index: 15;
    Black_overlay_flexItem - z-index: 8;
    title_text - z-index: 11;
    transitioning - z-index: 12;

*/

body{
    margin: 0;
    background-color: rgb(0,0,0); 
    font-family: 'Cabin Sketch', cursive;
    letter-spacing: 0.5em;
    
}


.top_Bar{
    position: fixed;
    width: 100%;
   
    top: 0;
    left: 0;
    
    text-align: center;
    margin-top: 0;
    
    margin-bottom: 0;
    
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
    z-index: 15;
}

.top_Bar_Static{
    visibility: hidden;
}

.image_links_flexed{
    display: flex;
    flex-wrap: wrap;
    width: 300%;
    
    
}

.text{
    width: 100%;
    padding-bottom: 20%;
}
/*desktop*/
@media screen and (min-width: 501px){

        .link_flex_item{
            min-width: calc(100%/6);

            flex-grow: 1;
            position: relative;
            background-position: center;
        }
    }
    /* for phone*/ 
@media screen and (max-width: 1024px){
        
        .link_flex_item{
            min-width: 99%;

            flex-grow: 1;
            position: relative;
            background-position: center;
        }
             
        
    }

.Black_overlay_flexItem{
    background-color: rgba(0,0,0,0);
    position:relative;
    width:100%;
    height:100%;
    z-index:8;
    
}
.Black_overlay_flexItem:hover{
    
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.Black_overlay_flexItem:hover ~ .title_text{
    visibility: visible
        
}


header{
    padding-top: 1em;
    
}

.title_text{
    visibility: hidden;
    position: absolute;
    z-index: 11;
    width:100%;
    top: 1em;
    left: 0em;    
    text-align: center;
    color: white;
    pointer-events: none;
    
    padding-top: 14em;
}

.White_Transition{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 100%;
        visibility: hidden;
        opacity: 0;
        background-color: white;
        
        transition: visiblity 0s 1s, opacity 1s linear;
        -webkit-transition: visiblity 0s 1s, opacity 1s linear;
        -moz-transition: visiblity 0s 1s, opacity 1s linear;
}

.transitioning{
        visibility: visible;
        opacity: 1;
        z-index: 12;
        
        transition: visiblity 0s 2s, opacity 2s linear;
        -webkit-transition: visiblity 0s 2s, opacity 2s linear;
        -moz-transition: visiblity 0s 2s, opacity 2s linear;
}

/*Audio file pop up*/



h2{
    
}

/*
vimeo box that opens from here on out
*/
.open_on_item_click{
 
    transition: transform .5s;
    
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    
    
    position: absolute;
    margin: auto;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    
    z-index: 11;
    
    color: white;
    
    background-color: rgb(0,0,0); 
    
    border: solid;
    border-color: red;
}

.close{
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.interior_onCLick{
    width:80%;
    margin: auto;
}

.audio_bottom_bar{
    position: fixed;
    width: 100%;
    padding-bottom: 10%;
    left: 0;
    top: 80%;
    
    
    z-index: 15;
}
#audio_player{
    position: static;
    margin-left: 30%;
    width: 40%;
    
    
}

.song_title{
    text-align: center;
    color: white;
}



.Anxiety{background-image: url("images/Anxiety/Anxiety2.jpg")}

.Gyro{background-image: url("images/Gyro/Gyro2.jpg")}

.Misc{background-image: url("images/Echoes/Echoes.jpg")}

.OpalHouse{background-image: url("images/LorenaVera/LorenaVera.jpg")}

.NoRoomForSaints{background-image: url("images/PartyPooper/PartyPooper2.jpg")}

.ShortFilms{
    background-image: url("images/Brontide/Brontide.jpg");
    background-position: 60% 40%;
}

